@media (min-width: 1200px){
    
    .container-fluid{
        width: 100% !important;
        padding: 0;
    }

    /************* set menu style **********/
    .navbar{
        width: 100%;
        min-height: auto;
        display: flex;
    }

    i.brand-icon{
        width: 50px !important;
        height: 50px !important;
        font-weight: bolder;
        color: rgb(235, 235, 235) !important;
        font-size: 42px;
        text-align: center;
        line-height: 53px;
    }

    div#navbarSupportedContent{
        flex-direction: row-reverse !important;
    }
    ul.navbar-nav{
        flex-direction: row-reverse !important;
        justify-content: space-between !important;
        padding-inline-start: 0;
    }

    ul.navbar-nav>li.nav-item{
        font-family: "BNazanin";
    }

    li.nav-item>a.nav-link{
        color: black !important;
        font-size: large !important;
    }
    
    .menu>nav>div>form>input{
        text-align: right;
    }

    .menu>nav>div>form>input::placeholder{
        text-align: end;
    }
    /************* end menu  **********/

    /************* set slider style **********/
    #home{
        margin-bottom: 300px !important;
    }
    /************* end slider style **********/

    /************* set about style **********/
    /************* end about **********/

    /************* set contact style **********/
    /************* end contact **********/

    /************* set gallery style **********/
    /************* end gallery **********/

    /************* set footer style **********/
    footer.row{
        min-height: 392px;
        background: url(../images/wave-channged02.png) no-repeat center; 
    }

    footer.row>.col-10{
        margin: 100px auto !important;
    }
    footer.row>.col-10>div.row>div{
        margin-bottom: 2px;
    }
    
    footer.row h6 {
        font-family: "BTitr";
        font-weight: bold;
    }

    footer.row p{
        text-align: justify !important;
        direction: rtl;
        color: lightblue;
        font-family: "BNazanin";        
    }

    i.fi{
        width: 30px;
        height: 30px;
        cursor: pointer;
        color: #3a0c94;
    }

    i.fi:hover{
        color: gold;
    }
    /************* end footer **********/

}
